In [94]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [95]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

application_df = application_df.drop(['EIN'], axis=1)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [96]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_counts = application_df.nunique()
print(unique_counts)

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [97]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
name_counts = application_df['NAME'].value_counts()
print(name_counts)

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [98]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `name_to_replace`
#  YOUR CODE GOES HERE

# Choose the cutoff value
cutoff_value = 100

# Create a list of application types to be replaced
name_to_replace = application_df['NAME'].value_counts()[application_df['NAME'].value_counts() < cutoff_value].index.tolist()

# Replace the application types in the DataFrame
for app in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app, "Other")

# Check to make sure binning was successful
print(application_df['NAME'].value_counts())

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [99]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `APPLICATION_TYPE_to_replace`
#  YOUR CODE GOES HERE

# Choose the cutoff value
cutoff_value = 100

# Create a list of application types to be replaced
name_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()

# Replace the application types in the DataFrame
for app in name_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [100]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE

classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [101]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]
print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [102]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE


# Choose the cutoff value
cutoff_value = 100

# Create a list of classifications to be replaced
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutoff_value].index.tolist()

# Replace the classifications in the DataFrame
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [103]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

# Select the columns containing categorical data
categorical_columns = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

# Convert categorical columns to numeric using one-hot encoding
application_df_encoded = pd.get_dummies(application_df, columns=categorical_columns)

# Display the encoded DataFrame
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [104]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
# Separate the features (X) and target (y)
X = application_df_encoded.drop('IS_SUCCESSFUL', axis=1).values  # Features
y = application_df_encoded['IS_SUCCESSFUL'].values  # Target

# Display the shapes of the X and y arrays
print("Shape of X:", X.shape)
print("Shape of y:", y.shape)


# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the training and testing sets
print("Training set - X shape:", X_train.shape)
print("Training set - y shape:", y_train.shape)
print("Testing set - X shape:", X_test.shape)
print("Testing set - y shape:", y_test.shape)

Shape of X: (34299, 81)
Shape of y: (34299,)
Training set - X shape: (27439, 81)
Training set - y shape: (27439,)
Testing set - X shape: (6860, 81)
Testing set - y shape: (6860,)

In [105]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [106]:
# Import necessary libraries
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Design the neural network model
model = Sequential()

# Input layer
model.add(Dense(units=128, activation='relu', input_dim=X_train_scaled.shape[1]))

# Hidden layers
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=32, activation='relu'))

# Output layer
model.add(Dense(units=1, activation='sigmoid'))

# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Summary of the model architecture
model.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_38 (Dense)            (None, 128)               10496

 dense_39 (Dense)            (None, 64)                8256

 dense_40 (Dense)            (None, 32)                2080

 dense_41 (Dense)            (None, 1)                 33

=================================================================
Total params: 20,865
Trainable params: 20,865
Non-trainable params: 0
_________________________________________________________________

In [107]:
# Train the model
epochs = 50
batch_size = 32

history = model.fit(X_train_scaled, y_train, epochs=epochs, batch_size=batch_size, validation_split=0.2, verbose=1)

# Evaluate the model on the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test, verbose=0)
print(f"Model Loss: {model_loss}, Model Accuracy: {model_accuracy}")

Epoch 1/50
686/686 [==============================] - 4s 4ms/step - loss: 0.5140 - accuracy: 0.7427 - val_loss: 0.4863 - val_accuracy: 0.7653
Epoch 2/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4937 - accuracy: 0.7557 - val_loss: 0.4871 - val_accuracy: 0.7649
Epoch 3/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4901 - accuracy: 0.7579 - val_loss: 0.4866 - val_accuracy: 0.7613
Epoch 4/50
686/686 [==============================] - 2s 2ms/step - loss: 0.4883 - accuracy: 0.7591 - val_loss: 0.4839 - val_accuracy: 0.7659
Epoch 5/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4880 - accuracy: 0.7592 - val_loss: 0.4778 - val_accuracy: 0.7660
Epoch 6/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4857 - accuracy: 0.7592 - val_loss: 0.4794 - val_accuracy: 0.7657
Epoch 7/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4842 - accuracy: 0.7602 - val_loss: 0.4795 - val_accuracy: 0.7644
Epoch 8/50
686/686 [==============================] - 2s 4ms/step - loss: 0.4838 - accuracy: 0.7605 - val_loss: 0.4799 - val_accuracy: 0.7682
Epoch 9/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4840 - accuracy: 0.7614 - val_loss: 0.4818 - val_accuracy: 0.7655
Epoch 10/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4826 - accuracy: 0.7618 - val_loss: 0.4780 - val_accuracy: 0.7669
Epoch 11/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4820 - accuracy: 0.7621 - val_loss: 0.4796 - val_accuracy: 0.7631
Epoch 12/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4811 - accuracy: 0.7642 - val_loss: 0.4826 - val_accuracy: 0.7649
Epoch 13/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4809 - accuracy: 0.7619 - val_loss: 0.4825 - val_accuracy: 0.7620
Epoch 14/50
686/686 [==============================] - 3s 4ms/step - loss: 0.4803 - accuracy: 0.7630 - val_loss: 0.4826 - val_accuracy: 0.7580
Epoch 15/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4805 - accuracy: 0.7643 - val_loss: 0.4812 - val_accuracy: 0.7660
Epoch 16/50
686/686 [==============================] - 2s 2ms/step - loss: 0.4796 - accuracy: 0.7638 - val_loss: 0.4807 - val_accuracy: 0.7628
Epoch 17/50
686/686 [==============================] - 2s 2ms/step - loss: 0.4792 - accuracy: 0.7647 - val_loss: 0.4798 - val_accuracy: 0.7600
Epoch 18/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4783 - accuracy: 0.7645 - val_loss: 0.4814 - val_accuracy: 0.7617
Epoch 19/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4785 - accuracy: 0.7644 - val_loss: 0.4805 - val_accuracy: 0.7613
Epoch 20/50
686/686 [==============================] - 2s 4ms/step - loss: 0.4774 - accuracy: 0.7648 - val_loss: 0.4811 - val_accuracy: 0.7615
Epoch 21/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4774 - accuracy: 0.7651 - val_loss: 0.4798 - val_accuracy: 0.7615
Epoch 22/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4764 - accuracy: 0.7656 - val_loss: 0.4842 - val_accuracy: 0.7637
Epoch 23/50
686/686 [==============================] - 2s 2ms/step - loss: 0.4764 - accuracy: 0.7661 - val_loss: 0.4839 - val_accuracy: 0.7606
Epoch 24/50
686/686 [==============================] - 2s 2ms/step - loss: 0.4760 - accuracy: 0.7660 - val_loss: 0.4829 - val_accuracy: 0.7642
Epoch 25/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4757 - accuracy: 0.7652 - val_loss: 0.4838 - val_accuracy: 0.7660
Epoch 26/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4751 - accuracy: 0.7655 - val_loss: 0.4818 - val_accuracy: 0.7591
Epoch 27/50
686/686 [==============================] - 3s 4ms/step - loss: 0.4753 - accuracy: 0.7668 - val_loss: 0.4828 - val_accuracy: 0.7638
Epoch 28/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4754 - accuracy: 0.7662 - val_loss: 0.4835 - val_accuracy: 0.7648
Epoch 29/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4751 - accuracy: 0.7668 - val_loss: 0.4815 - val_accuracy: 0.7646
Epoch 30/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4741 - accuracy: 0.7675 - val_loss: 0.4831 - val_accuracy: 0.7635
Epoch 31/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4745 - accuracy: 0.7667 - val_loss: 0.4804 - val_accuracy: 0.7684
Epoch 32/50
686/686 [==============================] - 3s 4ms/step - loss: 0.4738 - accuracy: 0.7666 - val_loss: 0.4843 - val_accuracy: 0.7655
Epoch 33/50
686/686 [==============================] - 3s 4ms/step - loss: 0.4738 - accuracy: 0.7669 - val_loss: 0.4811 - val_accuracy: 0.7615
Epoch 34/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4739 - accuracy: 0.7658 - val_loss: 0.4832 - val_accuracy: 0.7640
Epoch 35/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4729 - accuracy: 0.7673 - val_loss: 0.4826 - val_accuracy: 0.7659
Epoch 36/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4728 - accuracy: 0.7676 - val_loss: 0.4848 - val_accuracy: 0.7640
Epoch 37/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4725 - accuracy: 0.7668 - val_loss: 0.4833 - val_accuracy: 0.7628
Epoch 38/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4731 - accuracy: 0.7673 - val_loss: 0.4829 - val_accuracy: 0.7644
Epoch 39/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4721 - accuracy: 0.7676 - val_loss: 0.4844 - val_accuracy: 0.7648
Epoch 40/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4721 - accuracy: 0.7676 - val_loss: 0.4865 - val_accuracy: 0.7638
Epoch 41/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4716 - accuracy: 0.7690 - val_loss: 0.4879 - val_accuracy: 0.7628
Epoch 42/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4714 - accuracy: 0.7668 - val_loss: 0.4878 - val_accuracy: 0.7602
Epoch 43/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4712 - accuracy: 0.7669 - val_loss: 0.4894 - val_accuracy: 0.7644
Epoch 44/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4710 - accuracy: 0.7685 - val_loss: 0.4899 - val_accuracy: 0.7633
Epoch 45/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4711 - accuracy: 0.7673 - val_loss: 0.4879 - val_accuracy: 0.7622
Epoch 46/50
686/686 [==============================] - 3s 4ms/step - loss: 0.4707 - accuracy: 0.7680 - val_loss: 0.4911 - val_accuracy: 0.7631
Epoch 47/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4712 - accuracy: 0.7678 - val_loss: 0.4869 - val_accuracy: 0.7620
Epoch 48/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4702 - accuracy: 0.7654 - val_loss: 0.4892 - val_accuracy: 0.7655
Epoch 49/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4712 - accuracy: 0.7680 - val_loss: 0.4862 - val_accuracy: 0.7655
Epoch 50/50
686/686 [==============================] - 2s 3ms/step - loss: 0.4702 - accuracy: 0.7689 - val_loss: 0.4865 - val_accuracy: 0.7624
Model Loss: 0.5160367488861084, Model Accuracy: 0.7508746385574341

In [108]:
# Import necessary libraries
from tensorflow.keras.models import save_model

# ... (previous code for data preprocessing and model training)

# Save the model to HDF5 file
model.save("AlphabetSoupCharity_Optimization.h5")

# Print a message to confirm the successful export
print("Model exported to AlphabetSoupCharity_Optimization.h5")

Model exported to AlphabetSoupCharity_Optimization.h5

Overview of the Analysis:

The purpose of this analysis is to create a deep learning model to predict the success of charitable donations for Alphabet Soup, a non-profit organization. The dataset contains various features such as application type, affiliation, classification, income amount, and more. By training a neural network on this data, we aim to predict whether a funding request will be successful, which will help Alphabet Soup in making informed decisions and allocating their resources efficiently.



Results:

Data Preprocessing:

Target Variable: The target variable for our model is "IS_SUCCESSFUL," which indicates whether a funding request was successful (1) or not (0).
Feature Variables: All other columns except "IS_SUCCESSFUL" are considered as feature variables for the model.
Variables Removed: We dropped the "EIN" and "NAME" columns, as they were non-beneficial for our analysis.
Compiling, Training, and Evaluating the Model:

Model Architecture:
Input Layer: 128 neurons with the ReLU activation function.
Hidden Layers: Two hidden layers with 64 and 32 neurons, both with the ReLU activation function.
Output Layer: 1 neuron with the sigmoid activation function to predict the success probability.
Compilation: We compiled the model using binary cross-entropy as the loss function, the Adam optimizer, and accuracy as the metric.
Training: The model was trained for 50 epochs with a batch size of 32.
Model Performance:
Model Loss: Approximately 0.516
Model Accuracy: Approximately 75.09%




Summary:
The deep learning model achieved a reasonable accuracy of 75.09% on the test data, indicating that it can make decent predictions. The model's architecture consists of three dense layers with varying numbers of neurons and ReLU activation functions, which provide a good balance between complexity and performance.

Despite achieving a satisfactory accuracy, there is room for further improvement. To enhance the model's performance, we can consider the following steps:

Hyperparameter Tuning: We can experiment with different combinations of hyperparameters like the number of layers, neurons, activation functions, and learning rate to find the optimal configuration for our specific problem.

Feature Engineering: Exploring feature engineering techniques to create new meaningful features might help the model extract more relevant information from the data.

Data Balancing: The dataset appears to be imbalanced, with more successful funding requests than unsuccessful ones. Applying techniques like oversampling or using different loss functions could address this issue.

Ensemble Methods: Combining multiple models using ensemble methods, such as stacking or blending, might improve overall performance and reduce overfitting.

Regularization Techniques: Implementing regularization techniques like dropout or L1/L2 regularization could prevent overfitting and enhance the model's generalization.





Recommendation:
While the deep learning model performed reasonably well, a different approach could be adopted to solve this classification problem. Since the dataset contains both categorical and numerical features, a gradient boosting algorithm, like XGBoost or LightGBM, could be a promising alternative. Gradient boosting can handle mixed data types effectively, handle imbalanced datasets, and provide good predictive power with less risk of overfitting. Additionally, feature importance analysis from a tree-based model like XGBoost can offer insights into which features are most crucial in predicting successful funding requests.

Conclusion:
In conclusion, the deep learning model achieved a satisfactory accuracy for predicting the success of funding requests for Alphabet Soup. However, further optimization and exploration of alternative models like gradient boosting algorithms could potentially lead to even better performance and more robust decision-making for the organization.